.flat-table {
    display: block;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 115%;
    overflow: auto;
    width: auto;
 }

.flat-table th {
    background-color: #ff0032;
    color: white;
    font-weight: normal;
    padding: 20px 30px;
    text-align: center;
}

.flat-table td {
    background-color: rgb(238, 238, 238);
    color: rgb(111, 111, 111);
    padding: 20px 30px;
}

